<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="p-10 w-full min-h-screen bg-zinc-900">
        <a href="/" class="text-blue-500 p-5 text-xl">Go Back</a>
        <div class="form p-10 text-white">
        <form action="/edit" method="post">
          <input type="text" class="w-1/4 block px-5 py-2 mt-2 bg-zinc-800 rounded-lg" placeholder="previous name" name="previous" value="<%= filename%>" readonly/>
          <input type="text" name="new" class="w-1/4 block px-5 py-2 mt-2 bg-zinc-800 rounded-lg" placeholder="Enter New Name" />
          <input
            type="submit"
            class="bg-yellow-700 rounded text-white mt-2 px-5 py-2"
            placeholder="Rename Task" value="Rename Task"
          />
        </form>
    </div>
</body>
</html>